transformers
langchain
langchain-community
langchain-qdrant
langchain_openai
langchain-groq
langchain_huggingface
torch
tqdm
xmltodict
python-dotenv
fastembed-gpu
ragas
langchain_ollama
langchain_core